export PATH=$HOME/.local/bin:/opt/homebrew/bin:$PATH

export SDKMAN_DIR=$(brew --prefix sdkman-cli)/libexec
[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"

source $(brew --prefix nvm)/nvm.sh

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

[ -f ~/.custom.aliases.bash ] && source ~/.custom.aliases.bash
